@mixin subnoticias {
    background-color: rgba(235, 235, 235, 0.536);
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}

.partidos {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background-color: rgba(235, 235, 235, 0.536);
    padding: 20px 70px 2px 70px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
}

.proximospartidos {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.proximospartidos1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.main {
    display: grid;
    grid-template-areas:
        "noticias noticias sidebar"
        "noticias noticias sidebar"
        "subnoticias subnoticias sidebar"
        "patrocinadores patrocinadores patrocinadores";
    gap: 20px;
}

.noticiasMain {
    grid-area: noticias;
}

.sidebarMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    grid-area: sidebar;
}

.sponsors {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgba(235, 235, 235, 0.536);
    padding: 10px;
    grid-area: patrocinadores;
}

.subnoticias {
    justify-content: center;
    align-items: stretch;
    margin-left: 40px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas:
        "noticiasindex noticiasindex noticiasindex"
        "subnoticia1 subnoticia2 subnoticia3";
    column-gap: 40px;
    .subnoticia1 {
        @include subnoticias;
        grid-area: subnoticia1;
    }
    .subnoticia2 {
        @include subnoticias;
        grid-area: subnoticia2;
    }
    .subnoticia3 {
        @include subnoticias;
        grid-area: subnoticia3;
    }
    .hrefSubnoticia>a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: none;
        color: white;
        padding: 10px;
        background-color: #a0000d;
    }
    .imagensubnoticia {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-top: 5px;
            border-radius: 10px;
        }
    }
    .h2_subnoticia {
        text-align: center;
        font-family: Heebo;
        font-size: x-large;
        margin-top: 15px;
    }
}