@import "historia";
@import "index";
@import "multimedia";
@import "socios";
@import "tienda";
@import "universalidades";
@import "extends";

/*index*/

@media (max-width: 576px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "noticias"
            "noticias"
            "subnoticias"
            "sidebar"
            "patrocinadores";
    }

    .noticiasMain {
        grid-area: noticias;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .partidos {
        background-color: rgba(235, 235, 235, 0.536);
        padding: 10px 50px 2px 50px;
        border-radius: 30px;
    }

    .subnoticias {
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-areas:
            "noticiasindex"
            "subnoticia1"
            "subnoticia2"
            "subnoticia3";
        column-gap: 5px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .subnoticia1 {
        background-color: #f3f3f3;
        border-radius: 10px;
        grid-area: subnoticia1;
        margin-bottom: 10px;
    }
    
    .subnoticia2 {
        background-color: #f3f3f3;
        border-radius: 10px;
        grid-area: subnoticia2;
        margin-bottom: 10px;
    }
    
    .subnoticia3 {
        background-color: #f3f3f3;
        border-radius: 10px;
        grid-area: subnoticia3;
    }

    .sponsors {
        padding: 0px;
    }

    .sponsors img {
        height: 30px;
        width: 50px;
    }

    .h4Footer {
        font-size: x-small;
    }

}

/*Multimedia*/

/*Socios*/

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

/*Tienda*/

@media(max-width: 1100px) {
    .products-list .product-item {
        width: 30.3%;
    }
}

@media(max-width: 900px) {

    .category_list,
    .products-list {
        width: 100%;
    }

    .category_list {
        flex-direction: row;
        justify-content: space-between;
    }

    .category_list .category_item {
        align-self: flex-start;
        width: 15%;
        font-size: 14px;
    }

    .products-list .product-item {
        margin-left: 4.5%;
    }

    .products-list .product-item:nth-child(3n+1) {
        margin-left: 0px;
    }
}

@media(max-width: 600px) {
    .category_list {
        flex-direction: column;
    }

    .category_list .category_item {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media(max-width: 520px) {

    .products-list .product-item {
        width: 47.5%;
    }

    .products-list .product-item:nth-child(3n+1) {
        margin-left: 4.5%;
    }

    .products-list .product-item:nth-child(2n+1) {
        margin-left: 0px;
    }
    
}

@media (max-width: 350px) {
    .products-list .product_item {
        width: 100%;
        margin-left: 0px;
    }
}